@import '/resources/sass/home.scss';
@import '/resources/sass/header.scss';
@import '/resources/sass/footer.scss';
@import '/resources/sass/about.scss';
@import '/resources/sass/pageController.scss';





*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    max-height: 100vh;
    max-width: 100vw;
}

main{
    height: calc(100vh - 160px);
    width: 100%;
    background-color: #0f0e17;
}
